*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: gray;
}

.list{
    display: flex;
    justify-content: end;
}

.list_item{
    list-style: none;
    padding: 20px;
    
}

footer{
    color: aliceblue;
    background-color: rgb(38, 38, 166);
}

.hp{
    width: 60px;
margin-top: 15px;
margin-left: 20px;
}

form{
    padding-bottom: 20px;
 
}